body,html{padding:0;margin:0}
html{font-family: 'Source Code Pro', monospace;background:#0a4a64;height:100%;min-height:460px}
header{
    margin-left:-250px;
    margin-top:-380px;
    position:absolute;
    width:500px;
    left:50%;
    top:50%}
    h1,h2,h3,h4,h5{
        text-align:center;
        margin:auto;
        color:#ffff}

    h1{ 
        font-size: 60px;
        margin-bottom: 10px;}
    h2{
        font-size: 20px;
        margin-bottom: 60px;}
    h2 a{color: #ffff;}
    h3{
        font-size: 60px;
        margin-bottom: 10px;}
    h4{
        font-size: 20px;
        margin-bottom: 60px;
    }
    button{
        margin-bottom: 60px;
        padding: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: #ffff;
        font-family: "Source Code Pro";
        font-size: 50px;border: none;
        text-align: center;color: #0a4a64;}
    button:hover{background-color: #75766f;
        color: #ffff}